:root {
    --color-mainblue: #0d6efd;
    --color-outlinegrey: #adb5bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    max-height: 640px;
    max-width: 100%;
}

.body-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: calc(128 / 16 * 1rem);
}

.main-grid-column {
    grid-column: 1; 
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: calc(74 / 16 * 1rem);
}

.main-flex h1 {
    font-family: sans-serif;
    font-family: ;
    font-weight: 700;
    font-size: calc(48 / 16 * 1rem);
    line-height: 58px;
    letter-spacing: .12rem;
    margin-bottom: 2rem;
}

.form-position {
    position: relative;
    margin-bottom: calc(24 / 16 *1rem);
}

.sign-in-input {
    box-sizing: border-box;
    width: 320px;
    height: 48px;
    border: 1px solid var(--color-outlinegrey);
    border-radius: 8px;
    padding-left: 35px;

}

.sign-in-input-icons {
    position:absolute;
    top: calc(15 / 16 * 1rem);
    left: 10px;
}

.main-sign-up-button {
    border: none;
    background: var(--color-mainblue);
    color: white;
    margin: 0 auto;
    border-radius: 8px;
    padding: 12px 57px;
    font-size: 20px;
}

.main-sign-up-button:hover {
    transform: scale(1.03);
    background: #0b60de ;
    transition: .135s ease-in;
}

.main-sign-up-button:active {
    transform: scale(.97);
    background: #0d6efd
}

.simple-button-active-scale:active {
    transform: scale(.975);
}

.social-media-text {
    font-family: sans-serif;
    margin-top: 2rem;
    margin-bottom: calc(24 / 16 * 1rem); 
}

.main-image-flex {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    gap: calc(37.6 / 16 * 1rem);
}

.social-media-images {
    display: block;
    object-fit: scale-down;
    width: 48px;
    border: 1px solid var(--color-outlinegrey);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.social-media-images:hover {
    transform: scale(1.25);
    background: var(--color-mainblue);
    border: 1px solid var(--color-outlinegrey);
    transition: .25s ease;
}

.img-grid {
    grid-column: 2 / span 2;
}

.img-position {
    margin-left: calc(137 / 16 * 1rem);
    margin-top: calc(103 / 16 * 1rem);
    margin-left: calc(66 / 16 * 1rem);
}